/*element*/
p{
    color:red
}
/*universal*/
*
{
    background-color: pink;
}
/*class selector*/
.myclass
{
    background-color: green;
}
/*id selector*/
#myclass
{
    background-color: red;
}
/* .auth form
{
all
}
*/
body{
    margin: 8px;
    padding: 6px;
    background-color: blueviolet;
    height: auto;
    width: ;
}